@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --color-royal:#1A2C50;
    --color-sunshine:#FFBE00;
    --color-sweetRed:#FF6B6B;
    --color-skyBlue:#118EEA;
    --color-white:#ffff;
    --color-pastelYellow:#f2c46f;
    --color-gradientRed:#EC1E2B;
    --color-gradientXXI1:#F2C46F;
    --color-gradientXXI2:#C6943F;

    --color-gradientBlue:#000E62;

    --color-defaultBtnColor:#1A2C50;
    --color-hoverBtnColor:#282764;
    --color-pressedBtnColor:#383782;


  }

}

@layer base {
  * {
    @apply box-border  bg-white text-black;
  }
  body {
    @apply mx-auto max-w-[1600px] bg-white text-black;
  }
  

}
.swiper-button-prev,
 .swiper-button-next {
  color: #6b6b6b;/* Changes the arrow color if using default SVG */
  background-color: #ffffff;
  padding: 10px 15px;
  border-radius: 50%; 
  box-shadow: 1px 1px 10px rgb(104, 104, 104);
  max-width: 72px;
  max-height: 72px;
}

.swiper-navigation-icon{
  color: #6b6b6b;
}
.swiper-pagination-bullet-active {
  background-color: #ffff !important;
}

@media screen and (max-width: 786px) {
  .swiper-button-prev,
 .swiper-button-next {
  padding: 10px 10px;
  max-width: 36px;
  max-height: 36px;
}
}@media screen and (max-width: 480px) {
  .swiper-button-prev,
 .swiper-button-next {
  padding: 5px 7.5px;
  max-width: 20px;
  max-height: 20px;
  /* margin-inline: auto; */
}

}